<div ng-app="app">
  <div ng-controller="peopleCtrl" ng-init="setup()">

    <div ng-if="errors">
      <h4>Errors:</h4>
      <ul>
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>
    </div>
    
    <h4>Total number of people: {{ people.length }}</h4>

    <datalist id="names">
      <option ng-repeat="person in people">{{person.name}}</option>
    </datalist>

    <div>
      Filter Name: <input ng-model="nameFilter" list="names">
    </div>

    <table style="width:100%" border=1>
      <tr>
        <th ng-click="toggleOrder('name')">Name {{getSortIcon('name')}}</th>
        <th ng-click="toggleOrder('bio')">Bio {{getSortIcon('bio')}}</th>
        <th>Delete</th> 
      </tr>
      <tr ng-repeat="person in people | filter: {name: nameFilter} | orderBy: orderAttribute:descending">
        <td>{{ person.name }}</td>
        <td>{{ person.bio }}</td> 
        <td><button ng-click="deletePerson(person)">Delete</button></td>
      </tr>
    </table>

    <h4>Add new person:</h4>
    <label>Name:</label><input ng-model="newPersonName">
    <label>Bio:</label><input ng-model="newPersonBio">
    <button ng-click="addNewPerson(newPersonName, newPersonBio)">Add Person</button>

  </div>  
</div>
